body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11.844px;
  width: 200px;
}
a {
  color: #08c;
  text-decoration: none;
}
a:hover, a:focus {
  color: #04a;
}
a:hover {
  cursor: pointer;
  text-decoration: underline;
}
a:focus {
  outline: none;
}
.enabled, .disabled {
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  padding: 2px 4px;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  vertical-align: baseline;
  white-space: nowrap;
}
.enabled {
  background-color: #468847;
}
.disabled {
  background-color: #3a87ad;
}
#enableLink {
  float: right;
}
.title {
  border-bottom: 1px solid #ccc;
  color: #468847;
  font-size: 14px;
  margin-top: 0.67em;
}
.setting-row {
  margin: 10px 0;
}
.links {
  border-top: 1px solid #ccc;
}
.links > a {
  padding: 0 4px;
}
#colorLabel {
  border: 1px solid #ccc;
  border-radius: 3px;
  display: inline-block;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  padding: 2px 4px;
  vertical-align: baseline;
  white-space: nowrap;
}
.swatch {
  border: 1px solid #888;
  border-radius: 3px;
  display: inline-block;
  float: right;
  height: 12px;
  margin: 0 1px;
  width: 12px;
}
.color-black {
  background-color: #000;
  color: #fff;
}
.color-white {
  background-color: #fff;
  color: #000;
}
.color-grey {
  background-color: #888;
  color: #fff;
}
.color-green {
  background-color: #468847;
  color: #fff;
}
